@model Employee.UI.ViewModels.HomePageViewModel.HomeEmployeeDetailsViewModel
<link href="~/css/homedetails.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-5">Employee Details</h1>
        </div>
        <div class="col-md-6 mb-4 justify-content-center">
            <img src="@Model.ImageURL" alt="Employee Image" class="img-fluid rounded-lg shadow">
        </div>
        <div class="col-md-6 mb-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th class="text-primary" scope="row">Employee ID</th>
                        <td>@Html.DisplayFor(model => model.EmpId)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Employee Code</th>
                        <td>@Html.DisplayFor(model => model.EmpCode)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Name</th>
                        <td>@Html.DisplayFor(model => model.EmpName)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Address</th>
                        <td>@Html.DisplayFor(model => model.EmpAddress)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Date of Birth</th>
                        <td>@Html.DisplayFor(model => model.DateOfBirth)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Date of Joining</th>
                        <td>@Html.DisplayFor(model => model.DateOfJoining)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Aadhar Number</th>
                        <td>@Html.DisplayFor(model => model.EmpAadhar)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Phone Number</th>
                        <td>@Html.DisplayFor(model => model.EmpPhoneNumber)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Email</th>
                        <td>@Html.DisplayFor(model => model.EmpEmail)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">Department</th>
                        <td>@Html.DisplayFor(model => model.DeptartmentName)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">State</th>
                        <td>@Html.DisplayFor(model => model.StateName)</td>
                    </tr>
                    <tr>
                        <th class="text-primary" scope="row">City</th>
                        <td>@Html.DisplayFor(model => model.CityName)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 ">
            <a href="@Url.Action("Edit", "Employee", new { id = Model.EmpId })" class="btn btn-primary mr-3">Edit</a>
            <a asp-action="Index" class="btn btn-secondary ">Back to List</a>
        </div>
    </div>
</div>